#photos{
	margin-top: 150px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	height: auto;
	background: #fff;
}
#photos img{
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}
#photos img:hover{cursor: pointer;box-shadow:}
main{
	width:100%;
  margin:auto;

}
body{
	font-family: 'Slabo 27px', serif;
	background-color:#fff;
	width: 100%;


}

header{
	width: 100%;
	height: 100px;
	font-family: 'Cinzel', serif;
	color:#000;
	background-color: #FAF9F8;
	font-size: 75px;
	text-align: center;
	text-shadow:0 1px 3px #000;
}
nav{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 100px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: rgba(255, 255, 255, 0.5);*/
	border-top:dotted 1px rgba(255,255,255,0.5);
		border-bottom:dotted 1px #fff;
	padding-bottom: 5px;
	text-align: center;
	background-color: #FAF9F8;

}
aside{
	width: 60px;
	height: 200px;
	float: left;
}
footer{
	width:100%;
	height:30px;
	margin-top:40px;
	text-align:center;
}
footer a{text-decoration: none;}
footer a:link{
	color: #000;
}
footer	a:visited{
	color: #000;
}
footer	a:hover{
	color: #9B8B56
}
footer	a:active{
	color: #000;
}
#long{
	position: absolute;
	top:800px;
}

#texte{
	width:1024px;
	height:auto;
	text-align: center;
margin-top: 50px;
font-size: 20px;
margin-left: auto;
margin-right: auto;
}


aside a{
	width:50px;
	height:50px;
	display:block;
	margin-bottom:5px;
	margin-top:5px;
	text-decoration: none;
}
aside	a:link{
	background-image: url(images/sprits.png);
	background-position-x:0px;
}
aside	a:visited{
	background-image: url(images/sprits.png);
	background-position-x:-50px;
}
aside	a:hover{
	background-image: url(images/sprits.png);
	background-position-x:-100px;
}
aside	a:active{
	background-image: url(images/sprits.png);
	background-position-x:-150px;
}
aside #face a:link{
	background-position-y:-50px;
	background-position-x:0px;
	background-image: url(images/sprits.png);
}
aside #face a:visited{
	background-position-y:-50px;
	background-position-x:-50px;
	background-image: url(images/sprits.png);
}
aside #face a:hover{
	background-position-y:-50px;
	background-position-x:-100px;
	background-image: url(images/sprits.png);
}
aside #face a:active{
	background-position-y:-50px;
	background-position-x:-150px;
	background-image: url(images/sprits.png);
}
aside #insta a:link{
	background-position-y:-100px;
	background-position-x:0px;
	background-image: url(images/sprits.png);
}
aside #insta a:visited{
	background-position-y:-100px;
	background-position-x:-50px;
	background-image: url(images/sprits.png);
}
aside #insta a:hover{
	background-position-y:-100px;
	background-position-x:-100px;
	background-image: url(images/sprits.png);
}
aside #insta a:active{
	background-position-y:-100px;
	background-position-x:-150px;
	background-image: url(images/sprits.png);
}
ul{
	margin:0;
	padding:0px;
	list-style: none;
	display: block;
}
nav li{
	list-style: inside;
	text-decoration: none;
	display: inline-block;
	margin: 0px;
}
nav a{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
	text-decoration:none;
}

nav	a:link{
	color: #000
}
nav	a:visited{
	color: #000
}
nav	a:hover{
	color: #9B8B56
}
nav	a:active{
	color: #000
}





.recto{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	transform: rotateY(0deg);
}
.verso{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	background: #FFF;
	transform: rotateY(180deg);
}

.card{
	width: 850px;
	height: 567px;
	-webkit-perspective:1200px;
	-webkit-perspective-origin: 50% 50%;
	/*position: absolute;*/
	position: relative;
	margin-bottom: 35px;
	margin-left: 150px;
}


.card:hover .recto{
	  -webkit-transform: rotateY(180deg);
}
.card:hover .verso{
	  -webkit-transform: rotateY(360deg);
}

.recto1{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	transform: rotateY(0deg);
}
.verso1{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	background: #FFF;
	transform: rotateY(180deg);
}

.card1{
	width: 850px;
	height: 567px;
	-webkit-perspective:1200px;
  position: relative;
	margin-bottom: 35px;
	margin-left: 150px;
}


.card1:hover .recto1{
	  -webkit-transform: rotateY(180deg);
}
.card1:hover .verso1{
	  -webkit-transform: rotateY(360deg);
}
.recto2{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	transform: rotateY(0deg);
}
.verso2{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	background: #FFF;
	transform: rotateY(180deg);
}

.card2{
	width: 850px;
	height: 567px;
	-webkit-perspective:1200px;
  position: relative;
	margin-bottom: 35px;
	margin-left: 150px;
}


.card2:hover .recto2{
	  -webkit-transform: rotateY(180deg);
}
.card2:hover .verso2{
	  -webkit-transform: rotateY(360deg);
}
.recto3{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	transform: rotateY(0deg);
}
.verso3{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	background: #FFF;
	transform: rotateY(180deg);
}

.card3{
	width: 850px;
	height: 567px;
	-webkit-perspective:1200px;
  position: relative;
	margin-bottom: 35px;
		margin-left: 150px;
}




.card4:hover .recto4{
	  -webkit-transform: rotateY(180deg);
}
.card4:hover .verso4{
	  -webkit-transform: rotateY(360deg);
}
.recto5{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	transform: rotateY(0deg);
}
.verso5{

	width: 850px;
	height: 567px;
	position: absolute;
	transition: all 1s ease-in 0s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	background: #FFF;
	transform: rotateY(180deg);
}

.card5{
	width: 850px;
	height: 567px;
	-webkit-perspective:1200px;
  position: relative;
	margin-bottom: 35px;
		margin-left: 150px;
}


.card5:hover .recto5{
	  -webkit-transform: rotateY(180deg);
}
.card5:hover .verso5{
	  -webkit-transform: rotateY(360deg);
}


@media screen and (min-width: 1200px) {
	#desktop_1 {
		background-color: #900;
		color: #fff;
	}

	*      DESKTOP                                            */
	@media screen and (min-width: 1200px) {
		#desktop_1 {
			background-color: #900;
			color: #fff;
		}
	}
	@media screen and (min-width: 800px) and (max-width: 1200px) and (min-device-width: 1024px) {
		#desktop_2 {
			background-color: #900;
			color: #fff;
		}
	}
	@media screen and (max-width: 800px) and (min-device-width: 1024px){
		#desktop_3 {
			background-color: #900;
			color: #fff;
		}
	}
	/***********************************************************/
	/*      IPAD                                               */
	@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
		#ipad_1 {
			background-color: #900;
			color: #fff;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
		#ipad_2 {
			background-color: #900;
			color: #fff;
		}
	}

	/***********************************************************/
	/*      IPHONE                                             */

	@media screen and (max-width: 568px) and (orientation: landscape){
		#iphone_1 {
			background-color: #990;
			color: #fff;
		}
		.myDisplay{
			font-size: smaller;
		}
	}
	@media screen and (max-width: 480px) and (orientation: landscape){


	}
	@media screen and (max-width: 400px){
		header {
			display: none;
		}
}
