.photo{
	width:400px;
	height:400px;
	background:#aaa;
	position:fixed;
	z-index:-99;
	border:solid 20px #fff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.7);
}


#texte img{
	margin-top:40px;
	border-radius:5px;
		box-shadow:0 0 50px #000 inset;
}



	@media screen and (max-width: 414px){
		#iphone_1 {
			background-color: #990;
			color: #fff;
		}
		header{
color: #000;
		}
			#photo{
				display: none;
			}

		.myDisplay{
			font-size: smaller;
		}
	}
	@media screen and (max-width: 480px) and (orientation: landscape){


	}
